.catalogContainer {
  margin-top: 1.5rem;
  padding: 0 2.5rem 3rem 2.5rem;
}

.catalogTitle {
  color: var(--gray-500);
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: -0.015em;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.catalogProducts {
  margin-top: 2.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-gap: 1.2rem 1rem;
  justify-content: space-between;
}

