.mainFooter {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: var(--gray-200);

  line-height: 1rem;
  height: 8.2rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--blue-400);
  }
  
  .footerIcons {
    display: flex;
    justify-content: center;
    
    padding: auto;
    margin-top: 0.6rem;
  }
  
  .footerIcons > * {
    margin-right: 0.4rem;
  }