.productFiltersContainer {  
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  padding: 10px 20px;
  border-radius: 10px;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.5%;

  background: var(--white);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
}

.productFilterForm {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.inputSearch {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--white-300);

  input {
    width: 100%;
    border: none;
    margin-right: 1rem;
    
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.5%;
    color: var(--gray-300);

    &::placeholder{
      color: var(--gray-300);
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.buttonSearch {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;
}

.filterSelectContainer {
  flex: 1;
  margin-left: 3rem;
  margin-right: 3rem;

  .productCategoriesSelect_control {
    height: 2rem;
    border: none;
    border-bottom: 1px solid var(--white-300);
    border-radius: 0;
    font-size: 1.2rem;

    .productCategoriesSelect_indicator-separator {
      display: none;
    }

    productCategoriesSelect_placeholder {
      color: var(--gray-300);
    }
  }
}

.clearFilterButton {
  height: 2.4rem;
  border-radius: 10px;
  border: 1px solid var(--white-300);
  padding: 0 1rem;
  background: var(--white);

  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-300);
  text-align: center;

  cursor: pointer;

  &:hover {
    background: var(--gray-200);
    color: var(--gray-500);
  }
}