.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  list-style: none;

  gap: 0.6rem;
}

.paginationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 2rem;
  height: 2rem;
  border-radius: 10px;

  background: var(--gray-400);
  color: var(--white);

  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: -0.015em;
}

.paginationPrevious a,
.paginationNext a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  
  border-radius: 10px;
  background: transparent; /* ou como preferir */;
}

.paginationLinkActive {
  background: var(--blue-400);
}

.arrowInactive {
  color: var(--blue-400);
}